* {
  margin: 0;
  padding: 0;
}
:root {
  --DarkBlue: hsl(240, 38%, 20%);
  --GrayishBlue: hsl(240, 18%, 77%);
}
body {
  font-size: 32px;
  font-family: "Inter", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  position: relative;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position-x: 650px;
  background-position-y: 10px;
  background-image: url(./images/pattern-bg.svg);
}
.curve-bg {
  position: absolute;
  bottom: 0;
}
.slide {
  display: none;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
  position: absolute;
  animation: slide 2s ease;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.slide.active {
  display: grid;
}
.info-container {
  background-image: url(./images/pattern-quotes.svg);
  background-repeat: no-repeat;
  background-position-x: 100px;
  width: 90%;
  height: 20%;
  position: relative;
  left: 0;
  margin-left: 5em;
  padding-top: 2.15em;
  z-index: 5;
}
.info-container .hero {
  position: relative;
}
.hero {
  display: grid;
  position: relative;
  z-index: 2;
}
.user-img {
  box-shadow: 0px 10px 30px 2px rgba(58, 58, 111, 0.2);
  border-radius: 10px;
  margin-top: 2em;
}
.controls {
  position: absolute;
  bottom: 6rem;
  right: 35rem;
  z-index: 3;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 50px;
  align-items: center;
  box-shadow: 0px 10px 30px 2px rgba(32, 32, 70, 0.2);
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.controls img {
  margin: 0;
}
blockquote {
  color: var(--DarkBlue);
  font-weight: 300;
}
figcaption {
  display: flex;
  margin: 1em 1em 0 0;
}
.name,
.rol {
  color: var(--DarkBlue);
  font-weight: 600;
  font-size: 20px;
  margin-right: 0.5em;
}
.rol {
  color: var(--GrayishBlue);
  font-weight: 300;
}
